@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

* {
    font-family: 'Merriweather', serif;
}


li {
    font-weight: 900;
    overflow: hidden;
    text-decoration: none;
    color: black;
   
}

li:link {
    color: black;
}

li:hover {
    color: gray;
}

li:visited {
    color: black;
}